@import 'bootstrap/scss/bootstrap';
@import 'skeleton';

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 115%;
  white-space: nowrap;
}

.logo {
  font-size: 36px;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
}

.icon {
  font-size: 24px;
}

.box {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 0 0 10px;
}

.logo-img {
  background-position: 0, 0;
  height: 51px;
  width: 175px;
  color: red;
}

.landing-right {
  .form-login {
    width: 350px;
    form {
      padding: 0 40px;

      .button {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

      input {
        border: 1px solid #efefef;
      }

      .form-check-label {
        padding: 0;
        font-size: 14px;
        color: #262626;
      }
    }
    .logo-img {
      margin: 22px auto 8px;
    }
  }
}
